body{
    font-family: "Roboto",sans-serif;
    color:rgb(0,0,0);
    margin:0px;
    padding:0px;
    text-align: center;
    background-color:rgb(225, 214, 200);
    
}

header{
    background-color: rgb(0,86,214);
    color:rgb(255,255,255);
    padding:10px;
    text-align:center;
    width:100%;
    position:relative;
    font-size:20px;
}

nav{
    margin-top:10px;
}

nav a{
    color:rgb(255,255,255);
    text-decoration:none;
    padding:6px 12px;
    font-weight:bold;
}

nav a:hover{
    text-decoration:underline;
}

section{
    margin:50px 0;
    position:relative;
}


#Skills table{
    margin:0 auto;
    border-collapse:collapse;
    width:60%;
    background-color: rgb(255, 255, 255);
    text-align:center;
    border:3px solid rgb(2,2,160);
}

th,td{
    border:rgb(2,2,160) solid 1px;
    padding:10px;
    width:50%;
}
